    <!-- ======================== Start Nav Bar =========================== -->
   <%- include('../partials/navbar.ejs'); %>
    <!-- ======================== Exit Start Nav Bar =========================== -->

    <div class="container">
      <!-- ========================== start setting list =========================== -->

      <div class="row">
        <!-- =================== start setting menu list ================== -->
        <%- include('../partials/setting-left-menu.ejs'); %>
        <!-- =================== end setting menu list ================== -->

        <!-- ======================= start view setting form ========================= -->

        <div id="setting-view-form" class="col mt-5">
          <div class="card">
            <div class="card-header text-center">User Setting</div>
            <div class="card-body">
              <form id="add-user-form" method="post" action="/user-setting/add-user">
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" value="<%=data.name%>" class="form-control" id="name" name="name">
                  <% if(locals.errors.name){%>
                  <p class="text-danger form-text"><%=locals.errors.name.msg%></p>
                  <%}%>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" value="<%=data.email%>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  <% if(locals.errors.email){%>
                  <p class="text-danger form-text"><%=locals.errors.email.msg%></p>
                  <%}%>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                  <% if(locals.errors.password){%>
                  <p class="text-danger form-text"><%=locals.errors.password.msg%></p>
                  <%}%>
                  <% if(locals.errors.common){%>
                  <p class="text-danger form-text"><%=locals.errors.common.msg%></p>
                  <%}%>
                  <% if(locals.data.common){%>
                  <p class="text-nowrap text-success bd-highlight fw-bolder"><%=locals.data.common.msg%></p>
                  <%}%>
                </div>
                <button type="submit" id="submit-btn" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <!-- ======================= end view setting form ========================= -->
      </div>
      <!-- ========================== end setting list =========================== -->
    </div>
  </body>
</html>
